@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

div.root {
    width: 100%;
    height: 100%;
  }

  *{
    box-sizing: border-box;
      --cor-fundo: #FFFFFF;
      --cor-preta: #333333;
      --cor-amarela_base: #FEED4F;
      --cor-azul-logo: #5897D6;
  }

  body {
    background-color: var(--cor-fundo);
    color: var(--cor-preta);
  }
